
@font-face {
    font-family: 'Proxima Nova';
    src: url('proximanova_regular.ttf') format('opentype'); /* Поменяйте в зависимости от формата */
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Proxima Nova, Arial, sans-serif;
    background: url('assets/фон.png') no-repeat fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    position: absolute;
    left: 20px;
    top: 20px;
}


.tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 540px;
    height: 33px;
}


.f {
    display: none;
}

.active{
    display: flex;
}

.tab.active .underline {
    width: 119px;
    height: 5px;
    background: #FFFFFF;
    border-radius: 100px;
}

.tab1, .tab2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.tab1text, .tab2text {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px; 
    color: #F4F6FB;
}

/* Дополнительные стили для активных и неактивных вкладок */
/* Tab */

.tab{
    /* Tab */

/* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 114px;
    height: 13px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    white-space: nowrap;

}


.tab.active{
    /* Tab */

/* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    width: 119px;
    height: 33px;
    white-space: nowrap;

}
.tab.active .tab1text,
.tab.active .tab2text {

    width: 37px;
    height: 13px;

    /* Forum_ActiveTab */
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;

    leading-trim: both;
    text-edge: cap;

    /* ActiveTab */
    color: #E0E0E0;

}

.tab .tab1text,
.tab .tab2text {
  font-weight: normal;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 60px;
    gap: 20px;
    width: 540px;
    height: 545px;
    background: #FFFFFF;
    border-radius: 15px;
    
}

.formfields {
/* Form_Fields */

/* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 420px;
    height: auto;

}

.fields {
/* Fields */

/* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 420px;
    height: auto;
}


.fieldsreg{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 420px;
    height: auto;

}

.fieldsother{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;

    width: 420px;
    height: auto;

}

.fieldtext, .otherdata {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 2px; /* Отступ вниз 2px от текста */
}

.inputfullfield {
    display: flex;
    flex-direction: column;
}


.btnpr { 
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    padding: 19px 30px; /* Removed bottom padding */
    gap: 10px; 
    width: 420px; 
    height: auto; /* Adjusted to auto */
    background-color: #1E22AA; /* Changed to background-color */
    border-radius: 10px; /* Corrected typo */
    color: white; /* Added text color */
    border: none; /* Removed border */
    cursor: pointer; /* Added pointer cursor */
}

.buttontext{
    /* Хотите отправить сообщение? Кликните на эту кнопку */
    width: 84px;
    height: 11px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    white-space: nowrap;
}


/* Общие стили для всех состояний */
.form-container-fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 2px;
    padding: 0px;
    gap: 0px;
    border-radius: 10px;
    width: 420px;
    position: relative;
}


.form-container-with-tabs {

    border-radius: 10px;
    width: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 30px;
    position: absolute;
    height: 545px;
    left: calc(50% - 540px/2);
    top: 150px;

}


.form-container-with-tabs1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 30px;
    
    position: absolute;
    width: 520px;
    height: 292px;
    left: calc(50% - 520px/2);
    top: 150px;
    
}


.form-container {

    display: flex;
    flex-direction: column;
    align-items: center ;
    padding: 40px 60px;
    gap: 20px;

    width: 540px;
    height: 545px;

    background: #FFFFFF;
    border-radius: 15px;



}

.form-container1 {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 60px;
    gap: 20px;

    width: 520px;
    height: 229px;

    background: #FFFFFF;
    border-radius: 15px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
 
}


.field-title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
}


input[type="text"], input[type="email"] {
    width: 100%; /* Делаем поля ввода шириной 100% */
    padding: 10px;
    margin-left: -5px;
    box-sizing: border-box; /* Позволяет правильно рассчитывать ширину */
}
.field-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    padding: 0px 20px 0px 0px;
    gap: 10px;
    width: 100%;
    position: relative; /* Устанавливаем позиционирование как относительное */
    left: 20px; /* Сдвигаем подсказку внутри контейнера вправо на 20px */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  
}

.field-title span {
    font-family: 'Proxima Nova';
    font-style: normal !important; 
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #222222;
}


.input-field-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 19px 10px 15px 20px;
    width: 420px;
    height: 50px;
    gap: 10px;
    border-radius: 10px;
    position: relative; 
}


.input-field {
    border: none;
    background-color: transparent;
    outline: none;
    
}

.icon {
    width: 16px;
    height: 16px;
}

.hint {
    display: none; /* По умолчанию скрыта */
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #222222;
}

.note{
    width: 420px;
    height: 11px;
    
    /* Text */
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    
    color: #999999;
}

/* Состояния */

/* Default */
.default-state .input-field-container {
    background-color: #F4F6FB;
    margin-left: -20px; /* Подвигаем поле ввода влево */
    margin: 0 auto; /* Центрируем поле ввода по горизонтали */
    
}

/* Hover */
.hover-state:hover .input-field-container {
    background-color: #E7EBF5;
    margin-left: -20px; /* Подвигаем поле ввода влево */
    margin: 0 auto; /* Центрируем поле ввода по горизонтали */
}

/* Click Input */
.click-input-state .input-field-container {
    background-color: #E7EBF5;
    margin-left: -20px; /* Подвигаем поле ввода влево */
    margin: 0 auto; /* Центрируем поле ввода по горизонтали */
}

/* Inputed */
.inputed-state .input-field-container {
    background-color: #E7EBF5;
    margin-left: -20px; /* Подвигаем поле ввода влево */
    margin: 0 auto; /* Центрируем поле ввода по горизонтали */
}

/* Error */
.error-state .input-field-container {
    background-color: #FFE6E6; /* Красный оттенок для ошибки */
    margin-left: -20px; /* Подвигаем поле ввода влево */
    margin: 0 auto; /* Центрируем поле ввода по горизонтали */
}

.error-state .hint {
    display: block; /* Показываем подсказку ошибки */
    margin-left: -20px; /* Подвигаем поле ввода влево */
    margin: 0 auto; /* Центрируем поле ввода по горизонтали */
}

