/* Tab */

box-sizing: border-box;

position: relative;
width: 77px;
height: 105px;
left: 97px;
top: 117px;

border: 1px dashed #9747FF;
border-radius: 5px;


/* Btn */

box-sizing: border-box;

position: relative;
width: 340px;
height: 210px;
left: 815px;
top: 117px;

border: 1px dashed #9747FF;
border-radius: 5px;


/* Likes */

box-sizing: border-box;

position: relative;
width: 86px;
height: 128px;
left: 290px;
top: 117px;

border: 1px dashed #9747FF;
border-radius: 5px;


/* Scroll_Bar */

position: relative;
width: 10px;
height: 400px;
left: 1377px;
top: 115px;



/* Scroll */

box-sizing: border-box;

position: relative;
width: 50px;
height: 296px;
left: 1286px;
top: 115px;

border: 1px dashed #9747FF;
border-radius: 5px;


/* logo */

position: relative;
left: 70.17%;
right: 25.39%;
top: 7.49%;
bottom: 87.96%;



/* Icn */

box-sizing: border-box;

position: relative;
width: 56px;
height: 128px;
left: 204px;
top: 117px;

border: 1px dashed #9747FF;
border-radius: 5px;


/* Input_Field */

box-sizing: border-box;

position: relative;
width: 340px;
height: 220px;
left: 97px;
top: 425px;

border: 1px dashed #9747FF;
border-radius: 5px;


/* Input_Form */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 34px;

position: relative;
width: 300px;
height: 180px;
left: 835px;
top: 401px;



/* Ред. */

box-sizing: border-box;

position: relative;
width: 71px;
height: 82px;
left: 1185px;
top: 117px;

border: 1px dashed #9747FF;
border-radius: 5px;


/* Name_Message */

box-sizing: border-box;

position: relative;
width: 379px;
height: 250px;
left: 406px;
top: 117px;

border: 1px dashed #9747FF;
border-radius: 5px;


/* Account_Icn */

box-sizing: border-box;

position: relative;
width: 88px;
height: 156px;
left: 1664px;
top: 95px;

border: 1px dashed #9747FF;
border-radius: 5px;


/* Input_Field_OneLine */

box-sizing: border-box;

position: relative;
width: 340px;
height: 570px;
left: 97px;
top: 801px;

border: 1px dashed #9747FF;
border-radius: 5px;


/* Input_Field_OneLine+Message */

box-sizing: border-box;

position: relative;
width: 340px;
height: 522px;
left: 533px;
top: 801px;

border: 1px dashed #9747FF;
border-radius: 5px;
