
@font-face {
    font-family: 'Proxima Nova';
    src: url('proximanova_regular.ttf') format('opentype'); 
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('assets/фон.png') no-repeat fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
}

.logo {
    position: absolute;
    left: 20px;
    top: 20px;
}

.logout-icon {
    display: inline-block;
    cursor: pointer;
}


.tab:last-child {
    border-right: none;
}

.reg{

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 10px;

    position: absolute;
    width: 283px;
    height: 48px;
    right: 40px;
    top: 35px;


}

.regtext{

    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    white-space: nowrap;
}

.player{

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 1520px;
    height: 590px;
    left: calc(50% - 1520px/2);
    top: calc(50% - 590px/2);

}


.container {
    display: flex;

}

.chat-container {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 31px 30px;
    gap: 80px;

    width: 470px;
    height: 590px;

    background: #141414;
    
}

.chat-container1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    width: 409px;
    height: 530px;
}

.chat-container2{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 409px;
    height: 335px;

}

.tabs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;

    width: 183px;
    height: 28px;

}


.tab {
    appearance: none;
    border: none;
    box-shadow: none;
    flex: 1;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 121px;
    height: 12px;
}

.tab.active {
    appearance: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
    padding: 0px;
    gap: 10px;
    cursor: pointer;

    width: 32px;
    height: 28px;

    border: none;     /* Убирает бордюр */
    box-shadow: none; /* Убирает тень */

}

.tabtext{

    width: 121px;
    height: 12px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;

}


.tab.active .tabtext{

    width: 32px;
    height: 13px;

    /* Forum_ActiveTab */
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    white-space: nowrap;

    /* ActiveTab */
    color: #E0E0E0;

}



.tab.active .underline {

    width: 100%;
    height: 5px;

    /* YADRO_blue */
    background: #1E22AA;
    border-radius: 100px;

}

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 10px;
    height: 400px;
}

::-webkit-scrollbar-track {

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #191919;
    border-radius: 10px;

}
::-webkit-scrollbar-thumb {

    position: absolute;
    left: 0%;
    right: 0%;
    top: 22.25%;
    bottom: 48.25%;

    background: #2F2F2F;
    border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    
}




.messages {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;
    padding-right: 55px;
    width: 394px;
    height: 457px;
    overflow-y: auto;
    overflow-x: hidden;
}

.message {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 20px 20px;
    gap: 150px;

    width: 394px;
    height: 72px;

    background: #222222;
    border-radius: 10px;
    word-wrap: break-word; 

}
.message-title-text{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 9px;

    margin: 0 auto;
    width: 93px;
    height: 32px;

}
.user-name {

    width: 48px;
    height: 12px;

    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    white-space: nowrap;
    color: #999999;

}

.message-text {

    width: 93px;
    height: 11px;

    /* Text */
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: #CCCCCC;
    white-space: pre-wrap;
    word-wrap: break-word; /* Перенос длинных слов */
}

.likes-icon-num{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    margin: 0 auto;
    width: 56px;
    height: 16px;

}



.likes {

    width: 16px;
    height: 16px;


}

.num-likes{
 
    width: 30px;
    height: 11px;

    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
}

.send-message {

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 5px;

    width: 409px;
    height: 135px;

}

.message-input {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    gap: 150px;

    width: 409px;
    height: 80px;

    background: #FFFFFF;
    border-radius: 10px;

}

.send-button {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 19px 30px 20px;
    gap: 10px;

    width: 448px;
    height: 74px;

    /* YADRO_blue */
    background: #1E22AA;
    border-radius: 10px;

}

.button-text{

    width: 84px;
    height: 11px;

    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #FFFFFF;

}

.hidden {
    display: none;
}

.input-form-name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 34px;
    
    width: 409px;
    height: 180px;
    
}

.input-form{

    display: flex;
    flex-direction: column;

    padding: 0px;
    gap: 5px;

    width: 409px;
    height: 200px;

}
.input-name{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 136px;

    width: 409px;
    height: 11px;


}

.input-field{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 10px 10px 0px;
    gap: 150px;

    width: 409px;
    height: 80px;

    background: #FFFFFF;
    border-radius: 10px;


}

.form-container-fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 2px;
    padding: 0px;
    gap: 0px;
    border-radius: 10px;
    width: 420px;
    position: relative;
}

.hover-state:hover .input-field-container {
    background-color: #E7EBF5;
    margin-left: -20px; /* Подвигаем поле ввода влево */
    margin: 0 auto; /* Центрируем поле ввода по горизонтали */
}


.field-title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
}

.field-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    padding: 0px 20px 0px 0px;
    gap: 10px;
    width: 100%;
    position: relative; 
    left: 20px; 
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  
}

.field-title span {
    font-family: 'Proxima Nova';
    font-style: normal !important; 
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #222222;
}


.input-field-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 19px 10px 15px 20px;
    width: 420px;
    height: 50px;
    gap: 10px;
    border-radius: 10px;
    position: relative; /* Устанавливаем позиционирование как относительное */
}

.input-field {
    border: none;
    background-color: transparent;
    outline: none;
    
}

.icon{


    margin: 0 auto;
    width: 16px;
    height: 16px;

}

.chat-name{

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    margin: 0 auto;
    width: 132px;
    height: 11px;

}
.chat-name-text{
  
    width: 84px;
    height: 11px;

    /* Text */
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999999;

}
.change-name{

    width: 31px;
    height: 11px;

}

.change-name-text{


    width: 84px;
    height: 11px;

    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: #999999;
}

.toggle-send-message-button {
    width: 409px;
    height: 50px;
    position: absolute;
    bottom: 0;

    padding: 10px;
    color: white;
    border: none;

    box-shadow: none;
    background: #1E22AA;
    border-radius: 10px;

}

.toggle-send-message-button:hover {
    background-color: #0056b3;
}

/* Default */
.default-state .input-field-container {
    background-color: #F4F6FB;
}

/* Hover */
.hover-state:hover .input-field-container {
    background-color: #E7EBF5;
}

/* Click Input */
.click-input-state .input-field-container {
    background-color: #E7EBF5;
}

/* Inputed */
.inputed-state .input-field-container {
    background-color: #E7EBF5;
}

/* Error */
.error-state .input-field-container {
    background-color: #FFE6E6; /* Красный оттенок для ошибки */
}

.error-state .hint {
    display: block; /* Показываем подсказку ошибки */
}
